.header{
    background-color:#dceafe;
    height: 55px;
    width: 100%;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 text-align: center;
 padding: 12px;
 font-weight: bold;
 text-transform: uppercase;
}