.network-headcontaner{
    height: 60px;
    width: 100%;
    
    display: flex;
    border-bottom: 1px solid rgb(219, 218, 218);
    margin-top: 10px;
}
.roww{
    display: flex;
    margin-left: 10px;
    align-items: center;
    color: rgb(147, 147, 148);
}
.networkhead{
  font-size: 25px;
 
}
.headtitle{
    font-size: medium;
    margin-left: 5px;
   
}
